@font-face {
  font-family: 'Avenir Next';
  src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('truetype');
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../../assets/fonts/AvenirNextLTPro-Medium.otf') format('truetype');
}
